<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Search.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>basic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2038ADA61903664D00534D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2040412E18ECE339008E9164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2040413E18ECEC69008E9164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2094ABDB18F8D738001A4D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>209702BD19317D60001E497E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2099B9CA18FB7E3B00B64917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2099B9D718FB7E5F00B64917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20E8D8F218F23086001D80C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
